<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered has-text-centered">
        <div class="column">
          <h1 class="title is-size-1">Welcome Page</h1>
          <h3 class="subtitle is-size-3">Welcome Page for Enhancer</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container has-text-centered">
    <h1 class="title">Hello World</h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>
  </div>
</section>